# Ignore virtual environments
project_env/
venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore database files
db.sqlite3

# Ignore model weights / large files



# Ignore runs/logs
runs/

# Ignore OS / editor files
.DS_Store
.vscode/
