/* Global Styles */
body {
  background-image: url('/static/img/f.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: auto;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.box {
  background-color: #c9edee;
  border-radius: 5px;
  padding: 20px;
  width: 400px; /* Set the width of the box */
  height: 400px; /* Set the height of the box */
  margin-left: 840px; /* Move the box to the right side of the container */
  margin-top: 9%;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  text-align: center; /* Center the content horizontally */
}

/* Other Styles */
.method-options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #1f9876;
  color: white;
  border: none;
  border-radius: 20px; /* Make all buttons rounded */
  transition: background-color 0.3s;
}

button:hover {
  background-color: #63b3e1;
}

button.selected {
  background-color: #008CBA;
}

input[type="file"] {
  display: block;
  margin-left: 90px;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.image-preview img {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
